name: CI

on: push

jobs:
  build:
    name: Build
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
        with:
          repository: rust-lang/rust
          ref: 21ff67df15329dd7548ccba54b6c6ae9a562124f # 2025-12-16"
      - uses: actions/checkout@v6
        with:
          path: this
      - run: cp this/config.toml .
      - run: python3.11 x.py build --stage 1
      - run: rustup toolchain link dev1 build/aarch64-apple-darwin/stage1
      - run: rustc +dev1 --crate-type staticlib --target x86_64-unknown-none this/foo.rs
      - run: objdump --archive-headers libfoo.a
