name: CI

on: push

jobs:
  build:
    name: Build
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v6
        with:
          repository: rust-lang/rust
          ref: 574b64a97f52162f965bc201e47f0af8279ca65d # 2023-01-01
      - uses: actions/checkout@v6
        with:
          path: this
      - run: cp this/config.toml .
      - run: python3.11 x.py build --stage 1
      - run: rustup toolchain link dev1 build/aarch64-apple-darwin/stage1
      - run: rustc +dev1 --crate-type staticlib --target x86_64-unknown-none this/foo.rs
      - run: objdump --archive-headers libfoo.a
